<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav ><a href="addReagent">Physical Properties Table</a></nav>
<br/>
<h1 th:text="${titlepage}"></h1>
<form method ="post">
    <div th:each="title : ${titles}">
    <input type="checkbox" name="titleIds" th:value ="${title.id}" th:id="${title.id}"/>
    <label th:for="${title.id}" th:text="${title.title}"></label>
        <br/>
    </div>

    <input type="submit" value="Remove"/>
</form>
<div th:replace="fragments :: bootstrapit"></div>
</body>
</html>