<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${titlepage}"></h1>

<a href="/experiment/addReagent">Add Reagent</a>

    <form method = "post">
        <div th:each="reagent: ${reagents}">
            <input type="checkbox" name="chemIds" th:value ="${reagent.chemid}" th:id="${reagent.chemid}"/>
            <label th:for="${reagent.chemid}" th:text="${reagent.chemName}"></label>
        </div>
        <input type="submit" value="Remove"/>
    </form>


</body>
</html>