.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/static/bootstrap-3.3.7/css/bootstrap-theme.css
/src/main/resources/static/bootstrap-3.3.7/css/bootstrap-theme.css.map
/src/main/resources/static/bootstrap-3.3.7/css/bootstrap-theme.min.css
/src/main/resources/static/bootstrap-3.3.7/css/bootstrap-theme.min.css.map
src/main/resources/static/bootstrap-3.3.7/css/bootstrap.css.map
src/main/resources/templates/paperless/index2.html

!/.gitignore
/src/main/resources/static/bootstrap-3.3.7/css/bootstrap.min.css.map
!/src/main/resources/static/bootstrap-3.3.7/css/bootstrap-theme.css
