<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head >
    <title>My Paperless Lab Notebook</title>
    <meta charset="UTF-8"/>
    <meta charset="viewport" content="width=deice-width,initial-scale=1"/>
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"  type="text/css" rel="stylesheet"/>
    <link th:href="@{/bootstrap-3.3.7/css/expLog.css}"  type="text/css" rel="stylesheet"/>
</head>
<body>


<div id="main" class="container">
    <!--Heading-->
    <div class="container-fluid">
        <img src="images/expLogWave.png" id="explog-adjust-imgsize" alt="experiment log"/>
    </div>

    <!--Experiment Log-->


    <div class="container" id="contents">
        <div class="row">
            <div class="col-md-2" id="sidebar1">

                <div>

                    <ul>
                        <li> <a href="/removeExperiment"> Remove Experiment</a></li>
                        <li><a href="/experiment/addIntro"> Add Experiment </a></li>
                        <li> <a href="/logout"> Logout </a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-5 col-md-offset-3" id="log">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body ">Panel body</div>
                        </div>
                    </div>
                </div>

                <p th:unless="${titles} and ${titles.size()}"> Add an Experiment</p>
                <p th:text="${name}"></p>
                <div class="panel-group" th:each=" title : ${titles}">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"  th:href="'#accordion'+${title.title}" th:text="${title.title}"></a>
                            </h4>
                        </div>
                        <div  th:id="'accordion'+${title.title}" class="panel-collapse collapse">
                            <div  class="panel-body">
                                <ul>
                                    <li><a th:href="@{'/experiment/introReagentPage/'+${title.id}}">Introduction</a></li>
                                    <li><a th:href="@{'/experiment/procedure/'+${title.id}}">Procedure</a></li>
                                    <li><a th:href="@{'/experiment/observations/'+${title.id}}">Observations</a></li>
                                    <li><a th:href="@{'/experiment/conclusion/'+${title.id}}">Conclusion</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="bottom-bar">
            </div>
        </div>
    </div>




    <footer class="row">
        <div class="col-md-6">
            <h6><b>Copyright &copy; 2018 Ta'Neisha Wilks</b></h6>
        </div>

    </footer>


</div>
<div>
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>