<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head >
    <title>My Paperless Lab Notebook</title>
    <meta charset="UTF-8"/>
    <meta charset="viewport" content="width=deice-width,initial-scale=1"/>
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"  type="text/css" rel="stylesheet"/>
    <link th:href="@{/bootstrap-3.3.7/css/expLog.css}"  type="text/css" rel="stylesheet"/>
</head>
<body id="main">


<div class="container" id="div-background">


    <div class ="side-nav" id="side-menu">

        <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <ul>
            <li><a th:href="@{/experiment/addIntro}"> Add Experiment </a></li>
            <li> <a th:href="@{/removeExperiment}"> Remove Experiment</a></li>
            <li> <a href="#"> Contact </a></li>
            <li> <a th:href="@{/logout}"> Logout </a></li>
        </ul>
    </div>

    <div class="grid-container">
        <!--Heading-->

        <div id="glyph">
             <span class="open-slide">
                    <a href="#" onclick="openSlideMenu()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </span>
        </div>

        <div class="header">

            <h1><i><span th:text="${firstname}"></span>'s Lab Notebook</i></h1>
        </div>




        <!--Experiment Log-->
            <div id="log">

                <div id="heading">
                    <h1>Experiment Log</h1>
                </div>

                <p id="message" th:unless="${titles} and ${titles.size()}"><span th:text="${firstname}"></span>, click the icon in the top left corner to begin documenting your first experiment.</p>
                <div class="panel-group"  id="accordion">
                    <div class="panel panel-default" th:each=" title : ${titles}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" th:attr="data-parent='#accordion'" th:href="'#collapse-it'+${title.id}" th:text="${title.title}"></a>
                            </h4>
                        </div>
                        <div  class="panel-collapse collapse" th:id="'collapse-it'+${title.id}" >
                            <div  class="panel-body">
                                <ul>
                                    <li><a th:href="@{'/experiment/introReagentPage/'+${title.id}}">Introduction</a></li>
                                    <li><a th:href="@{'/experiment/procedure/'+${title.id}}">Procedure</a></li>
                                    <li><a th:href="@{'/experiment/observations/'+${title.id}}">Observations</a></li>
                                    <li><a th:href="@{'/experiment/conclusion/'+${title.id}}">Conclusion</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




<!-- <div id="pagination">
    <ul class="pagination">
        <li  th:class="${currentPage}==${i}?'active': null" th:each="i : ${#numbers.sequence(0,titles.totalPages -  1)}">
            <a th:href="@{/dashboard(page=${i})}" th:text="${i}"  id="pager"></a>
        </li>
    </ul>
        </div>-->

    </div>





<!--
    <footer class="row">
        <div class="col-md-6">
            <h6><b>Copyright &copy; 2018 Ta'Neisha Wilks</b></h6>
        </div>

    </footer>

-->
</div>
<div>
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
   function openSlideMenu(){
        document.getElementById('side-menu').style.width
        = '200px';
        }


        function closeSlideMenu(){
        document.getElementById('side-menu').style.width
        = '0';
        }

    </script>
</div>
</body>
</html>