<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head>
    <title>My Paperless Lab Notebook</title>
    <meta charset="UTF-8"/>
    <meta charset="viewport" content="width=deice-width,initial-scale=1"/>
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"  type="text/css" rel="stylesheet"/>
    <link th:href="@{/bootstrap-3.3.7/css/custom.css}"  type="text/css" rel="stylesheet"/>

</head>
<body class="main">

<div class="container-fluid landingPage">

    <div class="container-fluid main-header" >
        <img src="images/mp.png" class="img-responsive img-adjust1" alt="mp header"/>
    </div>

    <div class="container-fluid" id="login-spacing">
        <!--Form-->
        <div class="container-fluid" id="img-div">
            <img src="images/login.png" class="img-responsive"  alt="login avator"/>
        </div>

        <form class="form-margin" id="login-form-margin" method="post">
            <div  class="form-group ">
                <label th:for="username" class="form-font">Username</label>
                <input name="username" type="text" class="form-control textbox-size"/>
            </div>

            <div  class="form-group ">
                <label th:for="password" class="form-font">Password</label>
                <input name="password" type="password" class="form-control textbox-size"/>
            </div>

            <span class="error" th:text="${error}"></span>

            <input id="login-submit" type="submit" value="Login"/>

            <p><a th:href="@{/signup}" class="link-need-space">New user?</a></p>
        </form>
    </div>

    <footer>
        <h6><b>Copyright &copy; 2018 Ta'Neisha Wilks</b></h6>
    </footer>

</div>



<div>
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>