<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}"></h1>
    <form method="post" th:object="${user}">
        <!--  "user" key value is the default value for the passed in object -->
        <div>
        <label th:for="name">Username</label><br/>
        <input th:field="*{name}" /><br/>
        <span th:errors="*{name}"></span>
        </div>
        <br/>
        <div>
        <label th:for="password">Password</label><br/>
        <input type="password" th:field="*{password}" /><br/><br/>
        <span th:errors="*{password}"></span>
        </div>
        <input type="submit" value="Login"/>
    </form>



</body>
</html>