<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}"></h1>
    <form method="post">

        <div>
        <label th:for="username">Username</label><br/>
        <input name="username" type="text" /><br/>
            <span class="error" th:text="${username_error}"></span>
        </div>
        <br/>
        <div>
        <label th:for="password">Password</label><br/>
        <input type="password" name="password" /><br/><br/>
            <span class="error" th:text="${password_error}"></span>
        </div>
        <div>
            <span class="error" th:text="${error}"></span>
        </div>
        <input type="submit" value="Login"/>
    </form>



</body>
</html>