<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head>
    <title>My Paperless Lab Notebook</title>
    <meta charset="UTF-8"/>
    <meta charset="viewport" content="width=deice-width,initial-scale=1"/>
    <link th:href="@{bootstrap-3.3.7/css/bootstrap.min.css}"  type="text/css" rel="stylesheet"/>
    <link th:href="@{bootstrap-3.3.7/css/custom.css}"  type="text/css" rel="stylesheet"/>



</head>
<body class="main">

<div class="container-fluid landingPage">
    <div class="container-fluid main-header" >
        <img src="images/mp.png" class="img-responsive img-adjust1"  alt="mp header"/>
    </div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<form method="post" th:object="${user}" class="form-margin">
    <!--  "user" key value is the default value for the passed in object -->

    <div style="margin-left: 30%; margin-bottom: 10px;">

        <!-- REMOVE THE STYLE-->
         <h4 >Sign up!</h4>
    </div>

    <div  class="form-group ">
        <label  th:for="firstname" class="form-font">First Name</label>
        <input th:field="*{firstname}" class="form-control textbox-size" />
    </div>

    <div class="form-group ">
        <label th:for="lastname" class="form-font">Last Name</label>
        <input th:field="*{lastname}" class="form-control textbox-size" />
    </div>

    <div class="form-group ">
        <label th:for="username" class="form-font">Username</label>
        <input th:field="*{username}" class="form-control textbox-size"/>
    </div>

    <div class="form-group ">
        <label th:for="password" class="form-font">Password</label>
        <input type="password" th:field="*{password}" class="form-control textbox-size"/>
    </div>

    <div class="form-group ">
        <label th:for="verify" class="form-font">Verify Password</label>
        <input type="password" name="verify" class="form-control textbox-size"/>
    </div>



    <input type="submit"/>

    <p><a th:href="@{/login}" class="link-need-space"> Existing user?</a></p>

</form>

    <footer>
        <h6><b>Copyright &copy; 2018 Ta'Neisha Wilks</b></h6>
    </footer>

</div>

    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>