<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head>
    <title>My Paperless Lab Notebook</title>
    <meta charset="UTF-8"/>
    <meta charset="viewport" content="width=deice-width,initial-scale=1"/>
    <link th:href="@{bootstrap-3.3.7/css/bootstrap.min.css}"  type="text/css" rel="stylesheet"/>
    <link th:href="@{bootstrap-3.3.7/css/custom.css}"  type="text/css" rel="stylesheet"/>



</head>
<body class="main">

<div class="container-fluid landingPage">

    <div class="container-fluid main-header" >
        <img src="images/mp.png" class="img-responsive img-adjust1"  alt="mp header"/>
    </div>

<div>


<form method="post"  class="form-style" id="signup-form">
    <!--  "user" key value is the default value for the passed in object -->

    <div>
        <h4 id="signup-title" >Sign up!</h4>
    </div>

    <div  class="form-group ">
        <label  th:for="firstname" class="form-font">First Name</label>
        <input th:value="${firstname}" name="firstname" class="form-control textbox-size" />
    </div>

    <div class="form-group ">
        <label th:for="lastname" class="form-font">Last Name</label>
        <input th:value="${lastname}" name="lastname" class="form-control textbox-size" />
    </div>

    <div class="form-group ">
        <label th:for="username" class="form-font">Username</label>
        <input th:value="${username}" name="username" class="form-control textbox-size"/>
    </div>

    <div class="form-group ">
        <label th:for="password" class="form-font">Password</label>
        <input type="password" name="password" class="form-control textbox-size"/>
    </div>

    <div class="form-group ">
        <label th:for="verify" class="form-font">Verify Password</label>
        <input type="password" name="verify" class="form-control textbox-size"/>
    </div>
    <span class="error" th:text="${error}"></span>
    <input type="submit"/>

    <p><a th:href="@{/login}" class="link-need-space"> Existing user?</a></p>

</form>
    <div id="copyright">

        <h6>Copyright &copy; 2018 Ta'Neisha Wilks</h6>

    </div>
    </div>


</div>




    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>