<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/" xmlns:i="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body >

<nav>

    <a href="/logout"> Logout </a>
</nav>
    <h1>Introduction</h1>


    <form  method="post" >


        <div th:object="${intro}">
        <div>
        <label  th:for="title">Title</label><br/>
        <input th:field="*{title}"/><br/>
            <span th:errors="*{title}"></span>
        </div>

        <div>
        <label th:for="purpose">Purpose</label><br/>
        <textarea rows="3" cols="40" th:field="*{purpose}"></textarea><br/>
        <span th:errors="*{purpose}"></span>
        </div>
        <div>
        <label th:for="materials">Materials</label><br/>
        <textarea rows="10" cols="30" th:field="*{materials}"></textarea><br/>
        <span th:errors="*{materials}"></span>
        </div>

        </div>


        <input type="submit"/>

     </form>


<div th:replace="fragments :: bootstrapit"></div>

</body>
</html>