<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body >
<a href="/experiment/addReagent">Physical Properties Table</a>
<h1>Introduction</h1>



<div th:each="intro : ${intros}">
    <p>Title: <span th:text="${intro.title}"></span></p>
    <br/>
    <p >Purpose: <span th:text="${intro.purpose}"></span></p>
    <br/>
    <p>Materials: <span th:text="${intro.materials}"></span></p>
    <br/>
    <br/>
</div>


<h1>Physical Properties Table</h1>

<table>
    <tr>
        <td>Chemical Name</td>
        <td>Molecular Weight(g/mol)</td>
        <td>Density(g/L)</td>
        <td>Hazard</td>
    </tr>
    <tr th:each="reagent: ${reagents}">
        <td th:text="${reagent.chemName}"></td>
        <td th:text="${reagent.mw}"></td>
        <td th:text="${reagent.density}"></td>
        <td th:text="${reagent.hazard}"></td>

    </tr>
</table>


</body>
</html>