<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>My Paperless</title>
</head>
<body>
    <h1>Introduction</h1>
    <form method="post">
        <label>Title</label><br/>
        <input type="text" name="title" value="Add a title"/><br/>
        <label>Purpose</label><br/>
        <textarea rows="3" cols="40" name="purpose"></textarea><br/>
        <label>Materials</label><br/>
        <textarea rows="10" cols="30" name="materials"></textarea><br/>


        <h1>Create a Physical Properties Table</h1>

        <label>Chemical Name</label>
        <input type="text" name="chemical" />
        <label>Molecular Weight(g/mol)</label>
        <input type="text" name="mw" />
        <label>Density(g/L)</label>
        <input type="text" name="density" />
        <label>Hazards</label>
        <input type="text" name="hazard" />
        <br/>
        <input type="submit"/>
     </form>

    <!--<h1>Create a Physical Properties Table</h1>
    <form method="post">
        <label>Chemical Name</label>
        <input type="text" name="chemical" />
        <label>Molecular Weight(g/mol)</label>
        <input type="text" name="mw" />
        <label>Density(g/L)</label>
        <input type="text" name="density" />
        <label>Hazards</label>
        <input type="text" name="hazard" />
        <br/>
        <input type="submit" value="Add Chemical"/>

    </form> -->
</body>
</html>