<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body >
<nav ><a href="/experiment/addReagent">Physical Properties Table</a>
    <a href="/logout"> Logout </a>
</nav>

    <h1>Introduction</h1>

<p>Title: <span th:text="${title}"></span></p>
<br/>
<p >Purpose: <span th:text="${purpose}"></span></p>
<br/>
<p>Materials: <span th:text="${materials}"></span></p>
<br/>
<br/>

<p>U-Intro Id: <span th:text ="${introid}"></span> </p>
<p>Intro Id: <span th:text ="${introkey}"></span> </p>

<br/>




</body>
</html>