<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<table th:fragments="reagents">
    <tr>
        <td>Chemical Name</td>
        <td>Molecular Weight(g/mol)</td>
        <td>Density(g/L)</td>
        <td>Hazard</td>
    </tr>
    <tr th:each="reagent: ${reagents}">
        <td th:text="${reagent.chemName}"></td>
        <td th:text="${reagent.mw}"></td>
        <td th:text="${reagent.density}"></td>
        <td th:text="${reagent.hazard}"></td>

    </tr>
</table>



</body>
</html>