<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1>Procedure and Observations</h1>
<nav>
    <a href="/experiment/conclusion">Conclusion</a>|
    <a href="/logout"> Logout </a>|
    <a href="/dashboard"> Dashboard </a>|
</nav>
<br/>
<div >
<p>Procedure: <span th:text="${procedure}"></span></p>

<p >Observations: <span th:text="${observations}"></span></p>
<br/>
</div>
<hr/>

<div class="container">
    <ul class="pager">
        <li class="next"><a href="/experiment/conclusion" th:unless="${id} != null">Next</a> </li>
    </ul>
</div>

<div th:replace="fragments :: bootstrapit"></div>
</body>
</html>