<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="section/addIntroform:: header"></head>
<body class="main3">

<div class="container display">

    <!--Navbar-->
    <div>

    <nav class="navbar  navbar-custom container-fluid" role="navigation">

        <div class="navbar-header container-fluid">


            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-9">
                        <img th:src="@{\images\mp.png}" class="img-responsive img-adjust pull-right" alt="title"/>

                    </div>

                    <div class=" col-md-2 pull-right dropdown" id="glyph-menu">

                        <button type="button" class="dropdown-toggle pull-right" id="dropdownmenu" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false" >
                            <span class="glyphicon glyphicon-menu-hamburger" id="glyph"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownmenu">
                            <li ><a class="dropdown-item" th:href="@{/experiment/observations}">Next</a> </li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" th:href="@{'/experiment/procedure/edit/'+ ${id}}">Edit Procedure</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" th:href="@{/dashboard}">Experiment Log</a></li>
                           <!-- th:unless="${id} != null"-->
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </nav>
</div>

    <div class="poc-div">
    <h1 class="center-heading">Procedure</h1>


    <p th:text="${proceds}" class="center-display-poc"></p>
    </div>

    <div th:replace="section/introPage::user's-name"></div>

</div>
<div>
    <script src= "/jquery/jquery-3.3.1.min.js"></script>
    <script src= "/js/bootstrap.min.js"></script>
</div>
</body>
</html>