<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="section/addIntroform:: header"></head>
<body class="main3">

<div class="container display2">

    <!--Navbar-->
    <div>
        <nav class="navbar  navbar-custom container-fluid" role="navigation">

            <div class="navbar-header container-fluid">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                    <span class="glyphicon glyphicon-menu-hamburger text-link"></span>
                </button>

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-8">
                            <img th:src="@{\images\mp.png}" class="img-responsive img-adjust pull-right" alt="title"/>

                        </div>

                        <div class="col-md-4 pull-right">
                            <div class="collapse navbar-collapse " id="navCollapse">
                                <ul class="nav navbar-nav pull-right" style=" margin-top:4%;">
                                    <li><a th:href="@{/dashboard}" class="text-link">Experiment Log</a></li>
                                    <li class="next"><a href="/observations" th:unless="${id} != null">Next</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="poc-div">
    <h1 class="center-heading">Procedure</h1>


    <p th:text="${proceds}" class="center-display-poc"></p>
    </div>

    <div class="container user-name">
        <p class="pull-left" style="background:orange;margin-left:0%;">someones name</p>
    </div>

</div>
<div>
    <script src= "/jquery/jquery-3.3.1.min.js"></script>
    <script src= "/js/bootstrap.min.js"></script>
</div>
</body>
</html>