<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation">
    <a href="/logout"> Logout </a>
</nav>
<br/>
<h1>Procedure and Observations</h1>

<form method="post" th:object="${procobs}">
<div>
<label th:for="procedure">Procedure</label>
<textarea rows="40" cols="80" th:field="*{procedure}"></textarea>
    <span th:errors="*{procedure}"></span>
</div>
    <div>
    <label th:for="observations">Observations</label>
<textarea rows="40" cols="80" th:field="*{observations}"></textarea>
    <span th:errors="*{observations}"></span>
    </div>
    <input type="submit"/>
</form>

<div th:replace="fragments :: bootstapit"></div>

</body>
</html>