<!DOCTYPE html>
<html lang="en" xmlns:th="http//wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<br/>
<h1>Create A Physical Properties Table</h1>

<form  method="post">
    <label>Chemical</label>
    <input type="text" name="chemical" />
    <label>Molecular Weight(g/mol)</label>
    <input type="text" name="mw"/>
    <label>Density(g/L)</label>
    <input type="text" name="density"/>
    <label>Hazards</label>
    <textarea name="hazard"></textarea><br/><br/>
    <input type="submit" value="Add Chemical"/>
</form>

<table>
    <tr>
        <td>Chemical Name</td>
        <td>Molecular Weight(g/mol)</td>
        <td>Density(g/L)</td>
        <td>Hazard</td>
    </tr>
    <tr th:each="reagent: ${reagents}">
        <td th:text="${reagent.chemName}"></td>
        <td th:text="${reagent.mw}"></td>
        <td th:text="${reagent.density}"></td>
        <td th:text="${reagent.hazard}"></td>

    </tr>
</table>



</body>
</html>